.contacts-input {
  font-size: 17px;
  line-height: 27px;
  border: 1px solid #ff2747;
  border-radius: 18px;
  padding: 15px;
  padding-left: 60px;
  outline: none;
  background: transparent;
  color: #fff;
  background-repeat: no-repeat;
  background-position: 20px 50%;
  background-size: 24px;
}
.services {
  padding: 0 180px;
  &__top {
    padding: 50px 0;
    .h1 {
      margin-bottom: 30px;
    }
    &-chains {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-left,
      &-right {
        width: 49%;
      }
      .main-card {
        display: flex;
        align-items: center;
        margin-bottom: 60px;
        overflow: hidden;
        &__inner {
          padding: 60px 70px;
          border: 1px solid #ff2747;
          border-radius: 40px 0 0 40px;
          transition: 0.3s ease;
          max-width: 100%;
          &:hover {
            background-color: #fff;
            border-color: #fff;
            .main-card__title {
              color: #000;
            }
          }
        }
        &__image {
          max-width: 170px;
          width: 100%;
          img {
            width: 100%;
          }
        }
        &__title {
          font-weight: 300;
          color: #fff;
          margin: 0;
          margin-bottom: 15px;
          transition: 0.3s ease;
        }
        &__text {
          font-family: "Myriad Pro";
          font-size: 18px;
          text-transform: uppercase;
          color: #ff2747;
          margin: 0;
        }
      }
    }
    &-tell {
      font-size: 18px;
      text-transform: uppercase;
      color: #ffffff;
      text-decoration: underline;
      margin-top: -40px;
      display: block;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .service-card {
      width: calc(100% / 2 - 15px);
      position: relative;
      padding: 70px 30px;
      border: 1px solid #fff;
      transition: 0.3s ease;
      margin-bottom: 30px;
      overflow: hidden;
      display: inline-block;
      &:hover {
        background-color: #ff2747;
        border-color: #ff2747;
      }
      &__text {
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: #ffffff;
        margin: 0 auto;
        display: inline-block;
      }
      &__image {
        max-width: 170px;
        width: 100%;
        position: absolute;
        right: 15px;
        bottom: 20px;
        img {
          display: block;
          width: 100%;
        }
      }
    }
  }
  &__factory {
    background-image: url("../../../assets/services/factory-bg.png");
    background-size: cover;
    padding-top: 140px;
    padding-bottom: 60px;
    margin-left: -180px;
    margin-right: -180px;
    padding-left: 180px;
    padding-right: 180px;
    .h1:nth-child(2) {
      margin-bottom: 45px;
    }
    &-paragraph {
      font-size: 18px;
      line-height: 21px;
      color: #ffffff;
    }
    &-row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      &--stretch {
        align-items: stretch;
      }
    }
    img {
      display: block;
    }
    &-right {
      margin-left: 40px;
      img {
        height: 100%;
      }
    }
    &-left {
      img {
        max-width: 570px;
        width: 100%;
        margin-left: 20px;
      }
      .services__factory-paragraph {
        margin-top: 0;
      }
    }
    .button--red {
      transform: translateY(100%);
    }
  }
  &__development {
    margin-top: 115px;
    margin-bottom: 250px;
    color: #fff;
    &-paragraph {
      font-size: 18px;
      line-height: 21px;
      margin: 50px 0;
    }
    .project__content {
      &-list {
        &-item {
          margin-bottom: 18px;
        }
      }
    }
    &-banner {
      width: 100%;
      margin-top: 80px;
      img {
        width: 100%;
      }
    }
  }
  &__soft {
    color: #fff;
    margin-bottom: 82px;
    .h1:nth-child(2) {
      margin-bottom: 35px;
    }
    &-row {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    &-left,
    &-right {
      width: 49%;
    }
    &-right {
      overflow: hidden;
      img {
        display: block;
        width: 100%;
      }
    }
    &-paragraph {
      font-size: 18px;
      line-height: 21px;
    }
    .button--red {
      margin-top: 80px;
    }
  }
  &__localization {
    color: #fff;
    .h1:nth-child(2) {
      margin-bottom: 45px;
    }
    &-paragraph {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 45px;
    }
    &-slider {
      margin-bottom: 150px;
      &-slide {
        display: block;
        overflow: hidden;
        img {
          display: block;
          height: 100%;
        }
      }
    }
  }
  &__registration {
    color: #fff;
    margin-bottom: 90px;
    .h1:nth-child(2) {
      margin-bottom: 45px;
    }
    &-paragraph {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 30px;
      max-width: 70%;
    }
    &-row {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      &--stretched {
        align-items: stretch;
      }
    }
    &-left {
      margin-top: auto;
      img {
        margin-top: 50px;
        margin-left: 20px;
        max-width: 460px;
        width: 100%;
        display: block;
      }
    }
    &-right {
      margin-left: 25px;
      max-width: 460px;
      img {
        display: block;
        height: 100%;
      }
    }
    .project__content {
      &-list-item {
        margin-bottom: 20px;
      }
    }
  }
  &__contacts {
    color: #fff;
    margin-bottom: 135px;
    &-title {
      font-family: "RoadRadio";
      font-weight: 400;
      font-size: 23px;
      line-height: 27px;
      text-transform: uppercase;
      color: #ff2747;
      text-align: center;
      margin-bottom: 40px;
    }
    &-form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-title {
        font-size: 18px;
        line-height: 21.8px;
      }
    }
    .contacts-input,
    &-button {
      max-width: 482px;
      width: calc(100% / 3 - 60px / 2);
      height: 60px;
    }
    &-name.contacts-input {
      background-image: url("../../../assets/services/man-gray.svg");
    }
    &-phone.contacts-input {
      background-image: url("../../../assets/services/phone-gray.svg");
    }
    &-button {
      font-size: 23px;
      line-height: 27px;
    }
  }

  &__footer {
    margin-bottom: 40px;
    &-text {
      font-size: 11px;
      color: #ffffff;
      line-height: 13px;
      text-align: center;
    }
  }
  @media screen and (max-width: 1500px) {
    padding: 0px 40px;
    &__factory {
      margin-left: -40px;
      margin-right: -40px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  @media screen and (max-width: 1280px) {
    &__top {
      &-chains {
        .main-card {
          &__inner {
            padding: 30px 40px;
          }
          &__title {
            font-size: 12px;
            line-height: 14px;
          }
          &__text {
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }
    &__cards {
      .service-card {
        &__text {
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
    &__top-tell {
      font-size: 14px;
      line-height: 16px;
    }
    &__factory {
      &-paragraph {
        font-size: 14px;
        line-height: 16px;
      }
      &-right {
        display: none;
      }
    }
    &__development {
      &-paragraph {
        font-size: 14px;
        line-height: 16px;
      }
      .project__content {
        &-list {
          &-item {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 0;
          }
        }
      }
    }
    &__soft {
      &-paragraph {
        font-size: 14px;
        line-height: 16px;
      }
    }
    &__localization {
      &-paragraph {
        font-size: 14px;
        line-height: 16px;
      }
    }
    &__registration {
      &-paragraph {
        font-size: 14px;
        line-height: 16px;
        max-width: 100%;
      }
      &-row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        &--stretched {
          align-items: stretch;
        }
      }
      &-left {
        margin-top: 0;
        img {
          margin-top: 0;
        }
      }
      &-right {
        display: none;
      }
    }
    &__contacts {
      &-button {
        font-size: 18px;
        line-height: 21px;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    &__top {
      &-chains {
        flex-direction: column;
        &-left,
        &-right {
          width: 100%;
        }
        &-left {
          display: flex;
          justify-content: center;
        }
        .main-card {
          flex-direction: column;
          margin-bottom: 110px;
          overflow: unset;
          &__image {
            max-width: 110px;
            transform: rotate(90deg) translateX(calc(50% - 7px));
          }
        }
      }
    }
    &__cards {
      .service-card {
        width: calc(100% / 2 - 15px);
        position: relative;
        padding: 50px 30px;
        margin-bottom: 30px;
        &:hover {
          background-color: #ff2747;
          border-color: #ff2747;
        }
        &__text {
          font-size: 14px;
          line-height: 16px;
          text-transform: uppercase;
          color: #ffffff;
          margin: 0 auto;
        }
        &__image {
          max-width: 110px;
        }
      }
    }
    &__top-tell {
      margin-top: 0;
    }
    &__factory {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    &__development {
      margin-top: 40px;
      margin-bottom: 40px;
      &-banner {
        margin-top: 30px;
      }
    }
    &__factory {
      &-left {
        img {
          display: none;
        }
      }
      .button--red {
        margin-top: 20px;
        transform: none;
      }
    }
    &__soft {
      color: #fff;
      margin-bottom: 40px;
      .h1:nth-child(2) {
        margin-bottom: 25px;
      }
      &-row {
        flex-direction: column-reverse;
      }
      &-left,
      &-right {
        width: 100%;
      }
      .button--red {
        margin-top: 20px;
      }
    }
    &__localization {
      color: #fff;
      .h1:nth-child(2) {
        margin-bottom: 25px;
      }
      &-slider {
        margin-bottom: 40px;
      }
    }
    &__registration {
      margin-bottom: 40px;
    }
  }
  @media screen and (max-width: 992px) {
    &__registration {
      &-left {
        max-width: unset;
        width: 100%;
        img {
          margin-left: 0;
        }
        .services__registration-row {
          flex-direction: column;
        }
      }
    }
    &__contacts {
      &-form {
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .contacts-input {
        width: 49%;
        margin-bottom: 20px;
      }
      &-button {
        width: auto;
        margin: 0 auto;
      }
    }
  }
  @media screen and (max-width: 576px) {
    padding: 0 15px;
    &__top {
      padding: 25px 0;
      .main-card {
        &__inner {
          padding: 30px 20px;
        }
      }
    }
    &__cards {
      .service-card {
        width: 100%;
        padding: 30px 20px;
        margin-bottom: 25px;
        &__image {
          bottom: 15px;
        }
      }
    }
    &__factory {
      margin-left: -15px;
      margin-right: -15px;
      padding-left: 15px;
      padding-right: 15px;
      .h1:nth-child(2) {
        margin-bottom: 25px;
      }
      .button--red {
        padding: 10px 5px;
      }
    }
    &__development {
      &-paragraph {
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .project__content {
        &-list {
          &-item {
            padding-left: 20px !important;
          }
        }
      }
    }
    &__soft {
      .button--red {
        padding: 10px 5px;
      }
    }
    &__localization {
      &-slider {
        &-slide {
          max-height: 350px;
          img {
            height: 100%;
            margin: 0 auto;
          }
        }
      }
    }
    &__registration {
      &-list {
        margin-bottom: 25px;
      }
      .h1:nth-child(2) {
        margin-bottom: 25px;
      }
      .project__content {
        &-list-item {
          margin-bottom: 0px;
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
    &__contacts {
      margin-bottom: 40px;
      &-title {
        font-size: 22px;
        line-height: 22px;
      }
      &-form-title {
        font-size: 14px;
        line-height: 16px;
      }
      .contacts-input {
        width: 100%;
      }
      &-button {
        width: 100%;
      }
    }
  }
}

.contacts-modal {
  font-weight: 300;
  color: #000;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  &--open {
    opacity: 1;
    pointer-events: all;
  }
  .contacts-input {
    height: 35px;
    font-weight: 300;
    font-size: 11px;
    line-height: 14px;
    padding: 10px;
    padding-left: 40px;
    color: #000;
    background-size: 13px;
    background-position: 15px 50%;
  }
  &.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
  }
  .modal {
    &__bg {
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 999;
      background: rgba(0, 0, 0, 0.8);
      cursor: pointer;
    }
    &__header {
      &--error {
        display: none;
      }
    }
    &__closer {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    &__inner {
      max-width: 650px;
      width: 100%;
      max-height: 100vh;
      z-index: 1000;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      padding: 20px 30px;
      background: #fff;
      border: 1px solid #ff2747;
      border-radius: 10px;
      overflow: auto;
    }
    &__subtitle,
    &__title {
      text-align: center;
      margin: 0;
    }
    &__subtitle {
      font-size: 11px;
      line-height: 14px;
      margin-bottom: 20px;
    }
    &__row {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      &--alignCenter {
        align-items: center;
      }
      &:nth-child(4) {
        margin-bottom: 20px;
      }
    }
    &__input {
      width: 49%;
      &-label {
        margin: 0;
        margin-bottom: 5px;
      }
      input {
        width: 100%;
      }
      &-name {
        background-image: url("../../../assets/services/man-gray.svg");
      }
      &-company {
        background-image: url("../../../assets/services/company.svg");
      }
      &-phone {
        background-image: url("../../../assets/services/phone-gray.svg");
      }
      &-email {
        background-image: url("../../../assets/services/mail.svg");
      }
    }
    &__contact-label {
      margin-bottom: 5px;
    }
    &__radios {
      display: flex;
      align-items: center;
      margin-top: 15px;
      flex-wrap: wrap;
      margin-bottom: 30px;
      &-title {
        margin: 0;
        font-size: 11px;
        line-height: 14px;
        margin-right: 5px;
        margin-bottom: 5px;
      }
    }
    &__radio {
      display: flex;
      align-items: center;
      margin-right: 5px;
      margin-bottom: 5px;
      &:last-child {
        margin-right: 0;
      }
      &-input {
        opacity: 0;
      }
      &-label {
        cursor: pointer;
        margin-left: 3px;
        font-size: 9px;
        line-height: 13px;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          left: -13px;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: 1px solid #1d1d1b;
          transition: 0.3s ease;
        }
        &::after {
          position: absolute;
          content: "";
          left: -10px;
          top: 3px;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: #ff2747;
          transition: 0.3s ease;
          transform: scale(0);
        }
      }
      &-input:checked + .modal__radio-label {
        &::before {
          border-color: #ff2747;
        }
        &::after {
          transform: scale(1);
        }
      }
    }
    &__select {
      width: 100%;
      height: auto;
      font-weight: 300;
      font-size: 11px;
      line-height: 14px;
      padding: 10px 20px;
      color: #000;
      border: 1px solid #ff2747;
      border-radius: 18px;
      position: relative;
      margin-bottom: 10px;
      &-input {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        padding-left: 15px;
      }
      &-label {
        margin-bottom: 5px;
      }
      &-icon {
        width: 13px;
        height: 13px;
        overflow: hidden;
        position: absolute;
        left: -10px;
        top: 50%;
        transform: translateY(-50%);
        img {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
      &-chevron {
        width: 15px;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        img {
          width: 100%;
          display: block;
        }
      }
      &-options {
        padding: 0;
        margin: 0 -1px;
        padding: 0px 35px;
        list-style-type: none;
        position: absolute;
        left: 0;
        top: 30px;
        width: calc(100% + 2px);
        border: 0px solid #ff2747;
        background-color: #fff;
        z-index: 1;
        border-radius: 0 0 18px 18px;
        overflow: hidden;

        max-height: 0px;
        border-top: 0 !important;
      }
      &-option {
        color: #929292;
        margin-bottom: 15px;

        cursor: pointer;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &--open {
        border-radius: 18px 18px 0 0;
        .modal__select {
          &-options {
            padding: 15px 35px;
            max-height: 10000px;
            border-width: 1px;
            transition: 0.3s ease;
          }
        }
      }
    }
    &__textarea {
      &-label {
        margin: 0;
        margin-bottom: 5px;
      }
      &-input {
        padding: 15px;
        font-size: 10px;
        line-height: 14px;
        border: 1px solid #ff2747;
        outline: none;
        background: transparent;
        resize: none;
        max-width: 100%;
        width: 100%;
      }
    }
    &__upload {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 10px;
      width: 110px;
      cursor: pointer;
      input {
        display: none;
      }
      label {
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        flex-shrink: 0;
        display: block;
        width: 100%;
        cursor: pointer;
      }
      img {
        margin-top: 10px;
        width: 20px;
      }
    }
    &__done-btn {
      width: 49%;
      font-size: 11px;
      line-height: 14px;
      border: 1px solid #000;
      background-color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-width: 37px;
        display: block;
        margin-left: 5px;
      }
      &:hover {
        color: #000;
        background: transparent;
      }
    }
    &__info {
      width: 49%;
      &-text {
        font-size: 9px;
        line-height: 10px;
      }
    }
    &__personal {
      font-size: 9px;
      line-height: 10px;
      a {
        font-size: 9px;
        line-height: 10px;
      }
    }
  }
  @media screen and (max-width: 576px) {
    .modal {
      &__inner {
        padding: 10px;
      }
      &__row {
        &:nth-child(4),
        &:nth-child(6) {
          flex-direction: column;
          margin-bottom: 0;
          .modal__input {
            width: 100%;
            margin-bottom: 15px;
          }
        }
      }
      &__footer-row {
        flex-direction: column;
        margin-top: 15px;
      }
      &__done-btn {
        max-width: 290px;
        width: 100%;
      }
      &__info {
        width: 100%;
      }
    }
  }
}
